/*---- Fonts ----*/
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 400;
    src: url(./Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 600;
    src: url(./Fonts/AeonikTRIAL-Bold.otf);
}
/*---- UI Theme ----*/
:root{
    --pri:#393E46;
    --sec:#948979;
    --tri1:#DFD0B8;
    --tri2:#222831;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--tri1);
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
main{
    height: 100%;
    width: 100%;
}
/*---- Dashboard Cards ----*/

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;

}
.elems{
    background-color: var(--tri1);
    border-radius: 10px;
    height: 400px;
    width: 330px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}
.elems img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elems h2{
    position: absolute;
    font-weight: 400;
    font-size: 2rem;
    bottom: 5%;
    right: 5%;
}
.elems:active{
    scale: 0.95;
}

/*---- Dashboard Full Page Open on Click ----*/
section.fullElems{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    font-size: 3rem;
    display: none;
    position: absolute;
    padding: 20px;
}
.back{
    position: absolute;
    right: 1%;
    background-color: red;
    border-radius: 10px;
    border: none;
    padding: 10px 11px;
    font-weight: 700;
    font-size: 1.3rem;
}
.back:active{
    scale: 0.96;
}

/*---- Dashboard Full Page TODO LIST STYLING ----*/

.todo-list-fullpage h2{
    font-size: 3.5rem;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.todo-list-fullpage .todo-container .addTask{
    height: 100%;
    width: 33%;
    background-color: var(--tri2);
    border-radius: 20px;

}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}
.todo-container .addTask form #task-input{
    padding: 15px 25px;
    width: 100%;
    font-size: 2rem;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 15px 25px;
    height: 40%;
    width: 100%;
    font-size: 2rem;
    background-color: var(--sec);
    color: var(--tri2);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 2rem;
    background-color: var(--tri1);
    color: var(--tri2);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.2s;
}
.todo-container .addTask form button:active{
    scale: 0.97;
}
.mark-imp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: 10px 0px;
    gap: 20px;
    margin-bottom: 20px;
}
.mark-imp input{
    scale: 1.5;
}
.mark-imp label{
    font-size: 1.2rem;
    font-weight: 200;
}
.todo-list-fullpage .todo-container .allTasks{
    height: 100%;
    width: 65%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    overflow: auto;
    scrollbar-width: none;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--sec);
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.task h5{
    color: var(--tri2);
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.task h5 span{
    background-color: red;
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 0.6rem;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 10px 20px;
    background-color: green;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all ease 0.2s;
}
.task button:active{
    scale: 0.95;
}


/*---- Dashboard Full DAILY PLANNER STYLING ----*/


.daily-planner-fullpage h2{
    font-size: 3rem;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 1%;
    font-size: 18px;
}
.day-planner .day-planner-time input{
    padding: 20px 45px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    padding-top: 34px;
    outline: none;
}

/*---- Dashboard Full MOTIVATIONAL QUOTES STYLING ----*/

.motivational-fullpage{
    position: relative;
    
}
.motivational-fullpage .motivation-container{
    height: 500px;
    width: 60%;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.motivational-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri2);
    border-radius: 50px;
    scale: 1.15;
    z-index: 8;
    filter: blur(100px);
}
.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: var(--tri1);
    border-radius: 40px;
    padding: 15px;
}
.motivation-1{
    padding: 20px;
    background-color: var(--pri);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}
.motivation-1 h2{
    background-color: var(--pri);
    border-radius: 20px;
    text-align: right;
    font-size: 2.1rem;
    font-weight: 400;
}
.motivation-2{
    color: var(--tri2); 
    margin-top: 40px;
    margin-bottom: 20px;
}
.motivation-2 h1{
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--tri2);
}
.motivation-3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.motivation-3 h2{
    width: fit-content;
    background-color: var(--pri);
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 400;
    text-align: right;
}

/*---- Dashboard Full POMODORO TIMER STYLING ----*/
.pomodoro-fullpage{
    position: relative;
}
.pomodoro-fullpage h1{
    font-size: 4.5rem;
}
.pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pomodoro-fullpage .pomo-timer h1{ 
    font-size: 10rem;
}
.pomodoro-fullpage .pomo-timer button{
    padding: 15px 30px;
    background-color: var(--pri);
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 5px 5px 0px black;
    transition: all ease 0.2s;
}
.pomodoro-fullpage .pomo-timer button:active{
    box-shadow: 0px 0px 0px black;
}